name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/cicd-demo:${{ github.sha }} .

      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/cicd-demo:${{ github.sha }}
      - name: Update Deployment
        run: |
          kubectl set image deployment/cicd-demo \
          cicd-demo=${{ secrets.DOCKER_USERNAME }}/cicd-demo:${{ github.sha }}

      - name: Verify Rollout
        run: kubectl rollout status deployment/cicd-demo